@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.header {
  padding-block: 32px;
  background-color: $background-color;
  top: 0;
  z-index: 100;

  @include medium-screen{
    position: sticky;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include small-screen {
    flex-direction: column;
  }

  @include medium-screen {
    flex-direction: row;
    justify-content: space-between;
  }

  @include large-screen {
    justify-content: center;
    gap: 0;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;

  @include small-screen {
    gap: 20px;
  }

  @include large-screen {
    margin-left: 216px;
    gap: 48px;
  }
}

.nav__link {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 144%;
  letter-spacing: 0.03em;
  color: #8e8e8e;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;

  &::after{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: 50%;
    bottom: -8px;
    opacity: 0;
    background-color: #69b99d;

    &:active{
      opacity: 1;
    }
  }

  &:hover{
    color: $primary__color;
    transform: translateY(-12px);
  }

  @include large-screen {
    font-size: 18px;
  }
}


.button {
  margin: 0 auto;
  display: flex;

  @include medium-screen {
    margin: 0;
  }

  @include large-screen {
    margin-left: auto;
  }
}

.navigation__button {
  font-family: "Poppins", sans-serif;
  padding: 8px 20px;
  background-color: $background-color;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #69b99d;
  cursor: pointer;
  transition: background-color 1s ease, color 1s ease;

  &:hover{
    color: $base__color;
    background-color: #69b99d;
  }

  @include large-screen {
    padding: 16px 48px;
    font-size: 16px;
  }
}

.primary {
  background-color: #69b99d;
  color: $background-color;

  &:hover{
    background-color: #579782;
  }
}


#home{
  scroll-margin-top: 120px;
}