@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.header{
    margin-top: 32px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav__list{
    display: flex;
    align-items: center;
    margin: 16px auto 0;
    gap: 15px;
    flex-wrap: wrap;
    order: 3;

    @include nav_order_change{
        order: 2;
        margin: 0;
    }
}

.nav__link{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;
    letter-spacing: 0.03em;
    color: #8e8e8e;
}

.logo{
    display: flex;
    flex-direction: row;
    order: 1;
}

.logo__circle{
    border-radius: 100%;
    background-color: $primary__color;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo__text{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 108%;
    letter-spacing: 0.02em;
    color: $primary__color;
}

.symbol{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0.02em;
    color: $base__color;
}

.button{
    order: 2;
    display: flex;
    align-items: center;

    @include nav_order_change{
        order: 3;
    }
}

.navigation__button{
    font-family: "Poppins", sans-serif;
    padding: 8px 20px 8px;
    width: 80px;
    height: 29px;
    background-color: #f5f5f5;
    border: none;
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0em;
    color: #69b99d;
}

.primary{
    background-color: #69b99d;;
    color: #f5f5f5;;
}