@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

.body{
  background-color: $background-color;
}