@mixin small-screen{
    @media screen and (min-width:480px) {
        @content;
    }
}

@mixin medium-screen{
    @media screen and (min-width:768px) {
        @content;
    }
}

@mixin large-screen{
    @media screen and (min-width:1240px) {
        @content;
    }
}

@mixin nav_order_change{
    @media screen and (min-width:716px) {
        @content;
    }
}

@mixin button_bigger{
    @media screen and (min-width:950px) {
        @content;
    }
}