@use "../utils/mixins" as *;
@use "../utils/base" as *;
@use "../utils/variables" as *;

.hero{
    padding: 33px 0 108px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: $background-color;
    background-size: contain;
    background-image: linear-gradient(
        rgba(255,255,255,0.5)
        ),
        url(../../assets/img/house_background.png);
    display: flex;
    align-items: center;
    justify-content: center;

    @include large-screen{
        background-image: linear-gradient(
        rgba(255,255,255,0)
        ),
        url(../../assets/img/house_background.png);;
    }
}

.hero_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include medium-screen{
        text-align: left;
        align-items: flex-start;
    }
}

.hero__title{
    display: inline-block;
    padding: 10px 20px;
    background-color: #f8f9fe;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    // font-size: 18px;
    font-size: 12px;
    line-height: 144%;
    letter-spacing: 0.03em;
    color: #69b99d;
    text-transform: uppercase;

     @include medium-screen{
        font-size: 16px;
        padding: 12px 24px;
    }
}

.hero__subtitle{
    margin-top: 16px;
    font-family: "Rubik", sans-serif;;
    font-weight: 600;
    font-size: 28px;
    line-height: 116%;
    letter-spacing: 0em;
    color: #1f2744;

    @include medium-screen{
        font-size: 38px;
    }
}

.hero__description{
    margin-top: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0em;
    color: #73788c;

     @include medium-screen{
        font-size: 14px;
    }
}

.buy__form{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 32px;
}

.form__div{
    display: flex;
    background-color: $base__color;
    box-shadow: 35px 35px 65px 0 rgba(146, 106, 120, 0.16);

}

.wrapper__option{
    @include medium-screen{
        margin-left: 40px
    }
}

.location__form{
    background-color: $base__color;
    padding: 16px;
    display: flex;
    flex-direction: column;

    @include medium-screen{
        flex-direction: row;
    }
}

.form__label{
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 144%;
    letter-spacing: 0em;
    color: #1f2744;
    margin-top: 10px;

    @include medium-screen{
        margin: 0;
    }
}

.first{
    margin: 0;
}

.form__select{
    font-family: "Poppins", sans-serif;
    // margin-top: 5px;
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 144%;
    letter-spacing: 0em;
    color: #a6a6a6;
    width: fit-content;

    &:focus{
        border: none;
    }

    @include medium-screen{
        text-align: left;
        margin-top: 8px;
    }
}

.form__search_button{
    box-shadow: 0 0 65px 0 rgba(105, 185, 157, 0.32);
    background: #69b99d;
    padding: 8px 24px;
    font-family: "Poppins", sans-serif;     
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0em;
    color: #fff;
    border: none;
    margin-top: 20px;
    cursor: pointer;

    @include medium-screen{
        margin: 0;
        margin-left: 15px;
    }
}

.buy__button{
    display: inline-block;
    margin: 0;
    background-color: $base__color;
    padding: 6px 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0em;
    color: #69b99d;
    font-family: "Poppins", sans-serif; 
    border: none;
}

.rent{
    background-color: $background-color;
    color: #a6a6a6;
}