@use "../utils/mixins" as *;
@use "../utils/base" as *;
@use "../utils/variables" as *;

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.hero{
    padding: 33px 0 108px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: $background-color;
    background-size: contain;
    background-image: linear-gradient(
        rgba(255,255,255,0.5)
        ),
        url(../assets/img/house_background.png);

    @include large-screen{
        background-image: linear-gradient(
        rgba(255,255,255,0)
        ),
        url(../../assets/img/house_background.png);;
    }
}

.hero_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include large-screen{
        text-align: left;
        align-items: flex-start;
    }
}

.hero__title{
    display: inline-block;
    padding: 10px 20px;
    background-color: #f8f9fe;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 144%;
    letter-spacing: 0.03em;
    color: #69b99d;
    text-transform: uppercase;

     @include medium-screen{
        font-size: 16px;
        padding: 12px 24px;
    }

    @include large-screen{
        font-size: 18px;
    }
}

.hero__subtitle{
    margin-top: 16px;
    font-family: "Rubik", sans-serif;;
    font-weight: 600;
    font-size: 28px;
    line-height: 116%;
    letter-spacing: 0em;
    color: #1f2744; 
    animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    @include medium-screen{
        font-size: 38px;
    }

    @include large-screen{
        font-size: 64px;
        max-width: 605px;
        margin-top: 32px;
        animation: slide-in-left 1s both;
    }
}

.hero__description{
    margin-top: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0em;
    color: #73788c;

     @include medium-screen{
        font-size: 14px;
    }

    @include large-screen{
        font-size: 16px;
        margin-top: 24px;
        max-width: 502px;
    }
}

.buy__form{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 32px;
}

.form__div{
    display: flex;
    background-color: $base__color;
    box-shadow: 35px 35px 65px 0 rgba(146, 106, 120, 0.16);

}

.wrapper__option{
    @include medium-screen{
        margin-left: 40px
    }
}

.first{
    margin: 0;
}

.location__form{
    background-color: $base__color;
    padding: 16px;
    display: flex;
    flex-direction: column;

    @include medium-screen{
        flex-direction: row;
    }

    @include large-screen{
        padding: 32px;
        justify-content: flex-start;
    }
}

.form__label{
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 144%;
    letter-spacing: 0em;
    color: #1f2744;
    margin-top: 10px;

    @include medium-screen{
        margin: 0;
    }

    @include large-screen{
        font-size: 18px;
    }
}

.first{
    margin: 0;
}

.form__select{
    font-family: "Poppins", sans-serif;
    // margin-top: 5px;
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 144%;
    letter-spacing: 0em;
    color: #a6a6a6;
    width: fit-content;

    &:focus{
        border: none;
    }

    @include medium-screen{
        text-align: left;
        margin-top: 8px;
    }

    @include large-screen{
        font-size: 18px;
    }

}

.form__search_button{
    box-shadow: 0 0 65px 0 rgba(105, 185, 157, 0.32);
    background: #69b99d;
    padding: 8px 24px;
    font-family: "Poppins", sans-serif;     
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0em;
    color: #fff;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover{
        transform: scale(1.1);
    }

    @include medium-screen{
        margin: 0;
        margin-left: 15px;
    }
    @include large-screen{
        padding: 18px 48px;
        margin-left: 40px;
        font-size: 16px;
    }
}

.buy__button{
    display: inline-block;
    margin: 0;
    background-color: $base__color;
    padding: 6px 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0em;
    color: #69b99d;
    font-family: "Poppins", sans-serif; 
    border: none;
    cursor: pointer;

    @include large-screen{
        padding: 12px 32px;
        font-size: 24px ;
    }
}

.rent{
    background-color: $background-color;
    color: #a6a6a6;
}

#property{
    scroll-margin-top: 70px;
    @include large-screen{
        scroll-margin-top: 33px;
    }
}