@use "../utils/mixins" as *;
@use "../utils/base" as *;
@use "../utils/variables" as *;
@use "../components/header" as *;

.hero{
    padding: 33px 0 108px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: $background-color;
    background-size: contain;
    background-image: url(../../assets/img/house_background.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero__title{
    display: inline-block;
    // padding: 12px 24px;
    padding: 10px 20px;
    background-color: #f8f9fe;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    // font-size: 18px;
    font-size: 12px;
    line-height: 144%;
    letter-spacing: 0.03em;
    color: #69b99d;
    text-transform: uppercase;
}

.hero__subtitle{
    margin-top: 16px;
    font-family: "Rubik", sans-serif;;
    font-weight: 600;
    font-size: 28px;
    line-height: 116%;
    letter-spacing: 0em;
    color: #1f2744;
}

.hero__description{
    margin-top: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0em;
    color: #73788c;
}

.buy__form{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 32px;
}

.form__div{
    display: flex;
    flex-direction: column;
    background-color: $base__color;
}

.location__form{
    background-color: $base__color;
    padding: 16px;
}

.form__label{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 144%;
    letter-spacing: 0em;
    color: #1f2744;
}

.option{
    margin-top: 10px;
}

.first{
    margin: 0;
}

.form__select{
    font-family: "Poppins", sans-serif;
    margin-top: 5px;
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 144%;
    letter-spacing: 0em;
    color: #a6a6a6;
}

.form__search_button{
    box-shadow: 0 0 65px 0 rgba(105, 185, 157, 0.32);
    background: #69b99d;
    padding: 8px 24px;
    font-family: "Poppins", sans-serif;     
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0em;
    color: #fff;
    border: none;
    margin-top: 20px;
}

.buy__button{
    margin: 0;
    background-color: $base__color;
    padding: 6px 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0em;
    color: #69b99d;
    font-family: "Poppins", sans-serif; 
    border: none;
}

.rent{
    background-color: $background-color;
    color: #a6a6a6;
}